<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}:-){% endblock %} | PiperCI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='spectre.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <section class="section section-header bg-gray">
        <section class="grid-header container grid-xl">
            <nav class="navbar">
                <section class="navbar-section">
                    <a href="/" class="navbar-brand mr-10">Piper-CI</a>
                    <a href="https://github.com/francma/piper-ci" class="btn btn-link">GitHub</a>
                </section>
                <section class="navbar-section">
                    {% if identity %}
                        <a href="/logout" class="btn btn-link">{{ identity.email }}</a>
                    {% else %}
                        <a href="{{ url_for('login_view') }}" class="btn btn-link">login</a>
                    {% endif %}
                </section>
            </nav>
        </section>
    </section>
    <div class="container grid-xl">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="columns">
                    {% for category, message in messages %}
                        <div class="column col-12">
                            <div class="toast toast-{{ category }}">{{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>