<h4>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('home_view') }}">projects</a>
        </li>
        {% if project %}
            <li class="breadcrumb-item">
                {{ project.id }}
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('project_view', project_id=project.id) }}">builds</a>
            </li>
        {% endif %}
        {% if build %}
            <li class="breadcrumb-item">
                <a href="{{ url_for('detail_view', project_id=project.id, build_id=build.id) }}">{{ build.id}}</a>
            </li>
        {% endif %}
        {% if job %}
            <li class="breadcrumb-item">
                jobs
            </li>
            <li class="breadcrumb-item">
                {{ job.id }}
            </li>
        {% endif %}
    </ul>
</h4>