{% extends "_layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<header class="text-center">
    <h3>Paste your token here</h3>
</header>
<form method="post">
    <div class="input-group">
        <!--<input type="text" class="form-input input-lg" placeholder="token" name="token" autocomplete="off" />-->
        <input type="text" class="form-input input-lg" placeholder="token" name="token" />
        <button class="btn btn-primary input-group-btn btn-lg" type="submit">Submit</button>
    </div>
</form>
{% endblock %}