.bg-gray {
    background: #f1f1f1;
    color: #666;
    padding: 1rem;
}

.code {
    color: #667189;
}

.code-terminal {
    background: black;
    white-space: pre-wrap;
}

.code-terminal code {
    background: black;
}

header {
    padding-top: 4rem;
}
